@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    color:whitesmoke;
}
body{
    overflow:hidden;
}
.stanga{
    background:rgb(13, 13, 44);
    height:100vh;
    width:calc(50% + 30px);
    position:relative;
}
.text{
    position:absolute;
    top:27%;
    left:10%;
}
.text h1{
    font-size:3.7em;
    margin-right:.5em;
}
.detail{
    display:flex;
    position:relative;
    top:5em;
    align-items:center;
    font-size:1.3em;
    left:5%;
    opacity:0;
    animation-name:textin;
    animation-duration:1.5s;
    animation-delay:1s;
    animation-fill-mode: forwards;
}
@keyframes textin{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.detail ul{
    list-style:none;
}
.detail ul li{
    position:absolute;
    transform:translateY(-50%);
    margin-left:.5em;
    font-weight:700;
    color:rgb(47, 168, 156);
    display:inline;
    top:-.1em;
    transition:.3s;
    opacity:0;
}
.meniutoggler{
    display:flex;
    align-items:center;
    position:absolute;
    margin:2.5em 2.5em;
    cursor:pointer;
    background:rgba(255, 0, 0, 0);
    justify-content:center;
    width:6.5em;
    height:2em;
    border-radius:.5em;
    transition:1.2s;
}
.meniutoggler:hover{
    background:rgba(47, 168, 156, 0.698);
}
.meniutoggler img{
    width:1em;
    height:1em;
    filter:invert(1);
}
.meniutoggler p{
    margin-left:.5em;
}
.dreapta{
    height:100vh;
    width:calc(50% - 30px);
    position:absolute;
    right:0;
    top:0;
}
.dreapta img{
    position:relative;
    right:0;
    object-fit:cover;
    height:100vh;
    width:100%;
}
.overlay{
    height:100vh;
    width:100%;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
    BACKGROUND:rgba(7, 7, 59, 0.562);
    mix-blend-mode:overlay;
}
.loader{
    position:absolute;
    z-index:100;
    width:100%;
    height:100vh;
    background:black;
    opacity:1;
}
.loader img{
    position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:auto;
}
.done{
    opacity:0;
    transition:1s;
}
.meniu{
    position:absolute;
    z-index:-3;
    background:rgb(13, 13, 44);
    height:100vh;
    width:100%;
    opacity:0;
    transition:1s;
}
.parents{
    position:relative;
    z-index:51;
    background:rgb(7, 7, 63);
    height:100vh;
    width:35%;
    font-weight:700;
    font-size:1.2em;
}
.openmeniu{
    position:absolute;
    z-index:51;
    height:100vh;
    left:35%;
    width:65%;
    top:0;
}
.openmeniu ul{
    list-style:none;
}
.parents ul{
    position:relative;
    top:50%;
    line-height:1em;
    transform:translateY(-50%);
    list-style:none;
    padding:0 .75em 0 .75em;
}
.parents li{
    position:relative;
    text-align:center;
    border-radius:1.25em;
    transition:1.5s;
}
.parents li:hover{
    background:rgba(129, 113, 173, 0.733);
}
.meniuin{
    opacity:1;
}
.asdas{
    margin-bottom:3em;
    line-height:2.5em;
}
a{
    text-decoration:none;
}
.openmeniu div{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:3em;
    display:none;
    z-index:10000;
}
.openmeniu h1{
    font-size:3em;
    margin-bottom:1em;
}
.openmeniu li{
    font-size:1.5em;
}
.meniu img{
    position:absolute;
    width:2em;
    height:2em;
    z-index:70;
    filter:invert(1);
    padding: .3em;
    right:2.3em;
    top:2.3em;
}
/* contact */
.contact ul{
    list-style: none;
}
.contact ul li{
    display:flex;
    justify-content:right;
    line-height:2.5em;
    align-items:center;
}
.contact img{
    width:1.5em;
    height:1.5em;
    filter:grayscale(1) invert(1);
    margin-left:.5em;
}
.contact{
    position:absolute;
    right:1em;
    bottom:1em;
    font-size:.8em;
    opacity:0;
    animation:3s 3s forwards contactin;
}
@keyframes contactin{
    to{
        opacity:1;
    }
}
.info{
    position:absolute;
    width:100%;
    height:100vh;
    top:0;
    background:rgba(189, 141, 65, 0.342);
    opacity:0;
    transition:1s;
    font-weight:bold;
    font-size:1.1em;
}
.dreapta:hover .info{
    opacity:1;
}
.info div{
    position:relative;
    left:2.5em;
    max-width:calc(100% - 5em);
}
.viziune{
    margin-top:2em;
}
.misiune{
    text-align:right;
    margin-top:3em;
}
@media(max-width:1300px){
    .info{
        font-size:1em;
    }
}
@media(max-width:1200px){
    .stanga{
        width:100%;
    }
    .dreapta{
        display:none;
    }
    .contact{
        right:5%;
        bottom:3em;
    }
}
@media(max-width:766px){
    body{
        overflow-x:hidden;
    }
    .text h1{
        font-size:3em;
        transition:.5s;
    }
    .detail{
        font-size:1.2em;
        left:1em;
        transition:.5s;
    }
    .text{
        top:20%;
    }
    .meniu{
        font-size:.9em;
    }
}
@media(max-width:540px){
    body{
        overflow:hidden;
    }
    .dreapta{
        display:none;
    }
    .detail{
        display:none;
    }
    .text{
        left:2em;
        top:40%;
        transform:translateY(-50%);
    }
    .text h1{
        font-size:clamp(1em, 8vw, 5em);
    }
    .openmeniu{
        font-size:.8em;
    }
    .mobilequote{
        visibility:visible !important;
    }
}
.mobilequote{
    position:relative;
    visibility:hidden;
}